.question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

#radio-buttons {
  margin-left: 10%;
  margin-top: 5%;

}

.form-group {
  display: grid;
  margin-top: 5%;
}

.answers {
  padding-left: 5px;
}
