.welcome {
  display: grid;
  height: 100%;;
  grid-template-rows: 15% 85%;
}

.welcome-title-container {
  display: table;
}

h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5vh;
}

.quiz-choice {
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
}

.first-row, .second-row {
  display: grid;
  grid-template-rows: 50% 50%;
}

.flag {
  display: grid;
  height: 16vh;
  width: auto;
  margin: auto;
}


@media only screen and (min-width: 750px) {

  h1 {
    font-size: 3.5vh;
  }

  .welcome {
    display: grid;
    height: 100%;;
    grid-template-rows: 20% 80%;
  }

  .quiz-choice {
    margin-top: 4%;
  }

  .first-row, .second-row {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .flag {
    height: 30vh;
  }

}
